# Node modules
node_modules/

# Logs
*.log

# Build/output folders
dist/
.output/
.cache/

# Env files
.env
.env.*.local

# Vercel specific
.vercel/
.next/

# OS/IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Git lock file (rare but safe to ignore)
../.git/index.lock

# Temp files
*.bak
*.tmp
*.swp

.vercel
